@use "../utils/variables" as *;

.gallery-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 200ms ease,
    visibility 200ms ease;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: $color-overlay;
  }

  &__dialog {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
  }

  &__close-icon {
    fill: #fff;
  }

  &__stage {
    position: relative;
    width: 100%;
    height: 100%;
    background:
      linear-gradient($color-overlay, $color-overlay),
      left / cover no-repeat url(../../assets/images/slides/slide-2-2-1920.jpg);
  }

  &__hotspots {
    position: absolute;
    inset: 0;
  }

  &__hotspot {
    position: absolute;
    color: $color-white;
    transition: color 200ms ease;

    &--1 {
      top: 122px;
      right: 21px;
    }

    &--2 {
      top: 185px;
      right: 154px;
    }

    &--3 {
      top: 320px;
      right: 224px;
    }
  }

  &__hotspot:hover,
  &__hotspot:focus {
    color: $color-accent;
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 22px;
    padding-bottom: 20px;
  }

  &__nav-icon {
    stroke: $color-white;
    fill: none;
  }

  &__counter {
    position: relative;
    width: 276px;
    height: 78px;

    &::before {
      content: "";
      position: absolute;
      left: 60px;
      bottom: 40px;
      width: 120px;
      height: 2px;
      background: rgba(255, 255, 255, 0.4);
      transform: rotate(-145deg);
    }
  }

  &__count {
    position: absolute;
    font-family: $ff-brand;
    font-weight: 400;
    font-size: 16px;
    color: $color-white;

    &--total {
      left: 89px;
      top: 42px;
    }

    &--current {
      font-size: 30px;
      color: $color-accent;
      left: 137px;
      bottom: 33px;
    }
  }
}
