@use "../utils/variables" as *;

.gallery-modal {
  position: fixed;
  inset: 0;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 200ms ease,
    visibility 200ms ease;
}

.gallery-modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.gallery-modal__overlay {
  position: absolute;
  inset: 0;
  background: $color-overlay;
}

.gallery-modal__dialog {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.gallery-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.gallery-modal__stage {
  position: relative;
  width: 100%;
  height: 100%;
  background:
    linear-gradient($color-overlay, $color-overlay),
    left / cover no-repeat url(../../assets/images/slides/slide-2-2-1920.jpg);
}

.gallery-modal__hotspots {
  position: absolute;
  inset: 0;
}

.gallery-modal__hotspot {
  position: absolute;
}

.gallery-modal__hotspot--1 {
  top: 122px;
  right: 21px;
}

.gallery-modal__hotspot--2 {
  top: 185px;
  right: 154px;
}

.gallery-modal__hotspot--3 {
  top: 320px;
  right: 224px;
}

.gallery-modal__controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 22px;
  padding-bottom: 20px;
}

.gallery-modal__nav-icon {
  stroke: $color-white;
  fill: none;
}

.gallery-modal__counter {
  position: relative;
  width: 276px;
  height: 78px;

  &::before {
    content: "";
    position: absolute;
    left: 60px;
    bottom: 40px;
    width: 120px;
    height: 2px;
    background: rgba(255, 255, 255, 0.4);
    transform: rotate(-145deg);
  }
}

.gallery-modal__count {
  position: absolute;

  font-family: $ff-brand;
  font-weight: 400;
  font-size: 16px;
  color: $color-white;
}

.gallery-modal__count--total {
  left: 89px;
  top: 42px;
}

.gallery-modal__count--current {
  font-size: 30px;
  color: $color-accent;

  left: 137px;
  bottom: 33px;
}
