@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--about {
  background-image: url("../../assets/images/slides/slide-2-320.jpg");

  @include mq($bp-768) {
    background-image: url("../../assets/images/slides/slide-2-768.jpg");
  }

  @include mq($bp-1024) {
    background-image: url("../../assets/images/slides/slide-2-1920.jpg");
  }
}
