@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--calculator {
  background-image: url("../../assets/images/slides/slide-4-320.jpg");

  @include mq($bp-768) {
    background-image: url("../../assets/images/slides/slide-4-768.jpg");
  }

  @include mq($bp-1024) {
    background-image: url("../../assets/images/slides/slide-4-1920.jpg");
  }
}
