@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--gallery {
  background-image: url("../../assets/images/slides/slide-6-320.jpg");

  @include mq($bp-768) {
    background-image: url("../../assets/images/slides/slide-6-768.jpg");
  }

  @include mq($bp-1024) {
    background-image: url("../../assets/images/slides/slide-6-1920.jpg");
  }
}
