@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--home {
  --bg-overlay: rgba(0, 0, 0, 0.45);
  --bg-pos: 50% 50%;
  --bg-img: url("../../assets/images/slides/slide-1-320.jpg");

  @media (min-width: 768px) {
    --bg-img: url("../../assets/images/slides/slide-1-768.jpg");
  }

  @media (min-width: 1024px) {
    --bg-img: url("../../assets/images/slides/slide-1-1920.jpg");
  }
}

.screen--home {
  .screen__content {
    padding-top: 85px;
  }
}

// .hero__title__test {
//   font-family: "Bruno Ace SC", sans-serif;
//   font-weight: 400;
//   font-size: 96px;
//   line-height: 0.9375;
//   text-transform: uppercase;
//   color: #fff;
//   margin-top: 150px;
//   margin-left: 45px;
// }

// .hero__span__test {
//   margin-left: 185px;
// }
