@use "../utils/variables" as *;

.screen--home {
  --bg-img: url("../../assets/images/slides/slide-1-320.jpg");

  @media (min-width: $bp-768) {
    --bg-img: url("../../assets/images/slides/slide-1-768.jpg");
  }
  @media (min-width: $bp-1024) {
    --bg-img: url("../../assets/images/slides/slide-1-1920.jpg");
  }

  .screen__content {
    padding-top: 85px;

    @media (min-width: $bp-768) {
      padding-top: 110px;
    }

    @media (min-width: $bp-1440) {
      padding-top: 135px;
    }
    @media (min-width: $bp-1920) {
      padding-top: 150px;
    }
  }
}

.hero {
  padding: 0 30px 0 9px;
  margin-top: 108px;
  transform: translateX(-4px);

  &__title {
    font-family: $ff-brand;
    font-weight: 400;
    font-size: 46px;
    line-height: 0.9375;
    letter-spacing: 1px;
  }

  &__title-line {
    display: block;
  }

  &__title-line--shift {
    transform: translateX(1.96em);
    letter-spacing: 0.5px;
  }

  &__tagline {
    display: block;
    margin-left: 5px;
    transform: translateX(-2px);

    font-family: $ff-roboto;
    font-size: 6px;
    line-height: 1.71875;
    letter-spacing: 0.85em;
  }

  @media (min-width: $bp-768) {
    padding-left: 44px;
    margin-top: 125px;
    transform: none;

    &__title {
      font-size: 96px;
      letter-spacing: 0;
    }

    &__title-line--shift {
      transform: translate(186px, -5px);
    }

    &__tagline {
      font-size: 16px;
      letter-spacing: 0.52em;
      margin: -3px 0 0;
      transform: translateX(5px);
    }
  }

  @media (min-width: $bp-1440) {
    padding: 0 0 0 220px;
    margin-top: 240px;

    &__title-line--shift {
      transform: translate(185px, -5px);
    }
  }

  @media (min-width: $bp-1920) {
    padding-left: 320px;
    margin-top: 210px;

    &__title {
      letter-spacing: 1px;
    }
  }
}
