@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--home {
  --bg-overlay: rgba(0, 0, 0, 0.45);
  --bg-pos: 50% 50%;
  --bg-img: url("../../assets/images/slides/slide-1-320.jpg");

  @media (min-width: 768px) {
    --bg-img: url("../../assets/images/slides/slide-1-768.jpg");
  }

  @media (min-width: 1024px) {
    --bg-img: url("../../assets/images/slides/slide-1-1920.jpg");
  }

  .screen__content {
    padding-top: 85px;
  }
}

.hero {
  padding-left: 9px;
  padding-right: 30px;
  margin-top: 108px;

  &__title {
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 0.9375;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;

    margin: 0;
  }

  &__title-line {
    display: block;

    &--shift {
      transform: translateX(1.96em);
    }
  }

  &__tagline {
    display: block;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 6px;
    line-height: 1.71875;
    letter-spacing: 1.25em;
    text-transform: uppercase;
    color: #fff;

    margin-left: 5px;
  }
}
