@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.screen--packages {
  background-image: url("../../assets/images/slides/slide-3-320.jpg");

  @include mq($bp-768) {
    background-image: url("../../assets/images/slides/slide-3-768.jpg");
  }

  @include mq($bp-1024) {
    background-image: url("../../assets/images/slides/slide-3-1920.jpg");
  }
}
