@use "../utils/variables" as *;

.packages {
  color: $color-white;

  &__item {
    position: relative;
    text-align: center;
    min-height: 160px;
    background: center / cover no-repeat;
    transition: min-height 800ms cubic-bezier(0.2, 0.9, 0.2, 1);

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        #fff 52%,
        rgba(255, 255, 255, 0) 100%
      );
      pointer-events: none;
    }

    &--elite {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../../assets/images/slides/slide-2-1-1920.jpg");
    }

    &--vip {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../../assets/images/slides/slide-2-2-1920.jpg");
    }

    &--extra {
      background-image:
        linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url("../../assets/images/slides/slide-2-3-1920.jpg");
    }

    &.is-active {
      min-height: 480px;

      .packages__arc {
        opacity: 1;
      }

      .packages__panel-inner {
        opacity: 1;
        transition-delay: 120ms;
      }
    }
  }

  &__trigger {
    position: relative;
    width: 100%;
    min-height: 160px;
    color: inherit;
    cursor: pointer;
    font-family: $ff-brand;
    font-size: 24px;
  }

  &__arc {
    position: absolute;
    left: 50%;
    top: 70%;
    width: 130px;
    height: 65px;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-top: 0;
      border-radius: 0 0 999px 999px;
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 800ms cubic-bezier(0.2, 0.9, 0.2, 1);

    &-inner {
      display: grid;
      justify-items: center;
      gap: 47px;
      opacity: 0;
      transition: opacity 240ms ease;
    }
  }

  &__text {
    max-width: 280px;
    font-family: $ff-open-sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.75;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.92);

    &--vip-desktop {
      display: none;
    }
  }

  &__actions {
    display: grid;
    justify-items: center;
    gap: 18px;
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    color: $color-accent;
    text-transform: uppercase;

    &--services {
      color: $color-white;
      display: none;
    }

    &-text {
      font-family: $ff-open-sans;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: 0.45em;
      display: none;
    }

    &-icon {
      width: 120px;
      height: 21px;
      fill: none;
      stroke: currentColor;
      flex: 0 0 auto;
    }
  }
}

//* ========== 768 ========== */
@media (min-width: 768px) {
  .packages {
    &__item,
    &__trigger {
      min-height: 192px;
    }

    &__item::after {
      height: 1px;
    }

    &__item.is-active {
      min-height: 576px;
    }

    &__trigger {
      font-size: 36px;
    }

    &__arc {
      width: 174px;
      height: 99px;
    }

    &__panel-inner {
      padding: 20px 109px 100px;
      gap: 92px;
    }

    &__text {
      max-width: 550px;
      font-size: 16px;
      line-height: 1.5;
    }

    &__btn-text {
      display: inline-block;
      font-size: 20px;
    }

    &__btn-icon {
      width: 135px;
    }
  }
}

//* ========== 1440 ========== */
@media (min-width: 1440px) {
  .packages {
    &__list {
      display: flex;
      min-height: 100vh;

      &.has-active > .packages__item {
        flex: 0 0 calc(22.91667vw + 30px);

        &.is-active {
          flex: 0 0 calc(54.16667vw - 60px);

          &.packages__item--elite {
            padding-left: 90px;
          }

          &.packages__item--extra {
            padding-right: 90px;
          }
        }
      }
    }

    &__item {
      display: flex;
      flex: 0 0 calc(100vw / 3);
      min-height: 100vh;
      min-width: 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: flex-basis 800ms cubic-bezier(0.2, 0.9, 0.2, 1);

      &::after {
        left: auto;
        right: 0;
        top: calc(50% + 10px);
        bottom: auto;
        width: 1px;
        height: 100vh;
        transform: translateY(-50%);
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          #fff 52%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      &:last-child::after {
        content: none;
      }

      &.is-active {
        flex-direction: row;
        color: $color-accent;

        .packages__arc {
          top: 50%;
          left: calc(50% + 40px);
          transform: translate(-50%, -50%) rotate(-90deg);
        }

        .packages__trigger {
          width: 200px;
        }

        .packages__panel-inner {
          padding: 0 50px;
          justify-items: start;
          text-align: left;
          gap: 35px;
        }
      }
    }

    &__trigger {
      font-size: 28px;
    }

    &__text {
      max-width: 460px;
      font-size: 16px;
      line-height: 1.66;
    }

    .packages__item--vip {
      .packages__text--vip-mobile {
        display: none;
      }

      .packages__text--vip-desktop {
        display: block;
      }
    }

    &__actions {
      justify-items: start;
      gap: 69px;
    }

    &__btn {
      justify-content: flex-start;
      gap: 40px;

      &--services {
        display: inline-flex;
        width: 77px;
        gap: 30px;

        .packages__btn-text {
          font-size: 14px;
          white-space: nowrap;
        }
      }
    }
  }
}

//* ========== 1920 ========== */
@media (min-width: 1920px) {
  .packages {
    &__item {
      &::after {
        top: calc(50% + 12px);
        width: 2px;
      }

      &.is-active {
        .packages__arc {
          left: calc(50% + 50px);
        }

        .packages__trigger {
          width: 216px;
        }

        .packages__panel-inner {
          padding: 0 60px;
        }
      }
    }

    &__trigger {
      font-size: 36px;
    }

    &__text {
      max-width: 479px;
      font-size: 18px;
    }
  }
}
