<section class="packages">
  <ul class="packages__list" data-packages-accordion>
    <li class="packages__item packages__item--elite">
      <button class="packages__trigger" aria-expanded="false">
        <span class="packages__title">ELITE</span>
        <span class="packages__arc"></span>
      </button>

      <div class="packages__panel">
        <div class="packages__panel-inner">
          <p class="packages__text">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO
            EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA. UT ENIM
            AD MINIM VENIAM, QUIS NOSTRUD EXERCITATION ULLAMCO LABORIS NISI UT
            ALIQUIP EX EA COMMODO CONSEQUAT.
          </p>

          <div class="packages__actions">
            <a class="packages__btn" href="#">
              <span class="packages__btn-text" data-i18n="gallery.text"
                >GALLERY</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>

            <a class="packages__btn packages__btn--services" href="#">
              <span class="packages__btn-text" data-i18n="services.text"
                >LIST OF SERVICES</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </li>

    <li class="packages__item packages__item--vip">
      <button class="packages__trigger" aria-expanded="false">
        <span class="packages__title">VIP</span>
        <span class="packages__arc"></span>
      </button>

      <div class="packages__panel">
        <div class="packages__panel-inner">
          <p class="packages__text packages__text--vip-mobile">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>

          <p class="packages__text packages__text--vip-desktop">
            THE VIP STYLE INCLUDES AN EXTENDED SET OF WORKS. SUITABLE FOR THOSE
            WHO WANTS TO GET THE PERFECT RESULT.
          </p>

          <div class="packages__actions">
            <a class="packages__btn" href="#">
              <span class="packages__btn-text" data-i18n="gallery.text"
                >GALLERY</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>

            <a class="packages__btn packages__btn--services" href="#">
              <span class="packages__btn-text" data-i18n="services.text"
                >LIST OF SERVICES</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </li>

    <li class="packages__item packages__item--extra">
      <button class="packages__trigger" aria-expanded="false">
        <span class="packages__title">EXTRA</span>
        <span class="packages__arc"></span>
      </button>

      <div class="packages__panel">
        <div class="packages__panel-inner">
          <p class="packages__text">
            LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISCING ELIT, SED DO
            EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA. UT ENIM
            AD MINIM VENIAM, QUIS NOSTRUD EXERCITATION ULLAMCO LABORIS NISI UT
            ALIQUIP EX EA COMMODO CONSEQUAT.
          </p>

          <div class="packages__actions">
            <a class="packages__btn" href="#">
              <span class="packages__btn-text" data-i18n="gallery.text"
                >GALLERY</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>

            <a class="packages__btn packages__btn--services" href="#">
              <span class="packages__btn-text" data-i18n="services.text"
                >LIST OF SERVICES</span
              >
              <svg class="packages__btn-icon">
                <use href="/icons/sprite.svg#icon-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
