@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.app {
  min-height: 100vh;
}

.page {
  min-height: 100vh;
}

.screen {
  display: flex;
  flex-direction: column;
}

.screen__hero {
  position: relative;
  overflow: hidden;

  min-height: 100vh;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--bg-pos, 50% 50%);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;

    background: var(--bg-overlay, rgba(0, 0, 0, 0.45));
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

/* секції де є форма під hero */
.screen--has-form {
  min-height: 100vh;

  .screen__hero {
    flex: 1 1 auto;
    min-height: 480px; /* щоб не “схлопувалось” на мобілці */
  }
}

.screen__content {
  height: 100%;
}
