@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.app {
  min-height: 100vh;
}

.screen {
  position: relative;
  min-height: 100vh;
  overflow: hidden;

  /* контент поверх фону */
  display: block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background-image: var(--bg-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: var(--bg-pos, 50% 50%);
  }

  /* overlay (твоя тінь) */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background: var(--bg-overlay, rgba(0, 0, 0, 0.45));
  }

  /* все, що всередині секції — над overlay */
  > * {
    position: relative;
    z-index: 2;
  }
}
