<div class="nav-drawer" id="mobile-menu" aria-hidden="true" data-menu>
  <div class="nav-drawer__overlay" data-menu-close aria-hidden="true"></div>

  <div
    class="nav-drawer__panel"
    role="dialog"
    aria-modal="true"
    aria-label="Site menu"
    tabindex="-1"
  >
    {{> header}}

    <div class="nav-drawer__body">
      <nav class="nav-drawer__nav" aria-label="Mobile navigation">
        <ul class="nav-drawer__list">
          <li class="nav-drawer__item">
            <a class="nav-drawer__link" href="#styles" data-menu-close>
              <span
                class="nav-drawer__link-text"
                data-i18n="burgerMenu.nav.styles"
                >styles of rennovation</span
              >
              <span class="nav-drawer__link-arrow" aria-hidden="true">
                <svg class="nav-drawer__link-arrow-icon">
                  <use href="./icons/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </a>
          </li>

          <li class="nav-drawer__item">
            <a class="nav-drawer__link" href="#costs" data-menu-close>
              <span
                class="nav-drawer__link-text"
                data-i18n="burgerMenu.nav.costs"
                >Costs</span
              >
              <span class="nav-drawer__link-arrow" aria-hidden="true">
                <svg class="nav-drawer__link-arrow-icon">
                  <use href="./icons/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </a>
          </li>

          <li class="nav-drawer__item">
            <a class="nav-drawer__link" href="#steps" data-menu-close>
              <span
                class="nav-drawer__link-text nav-drawer__link-text--stacked"
              >
                <span
                  class="nav-drawer__link-line"
                  data-i18n="burgerMenu.nav.steps.line1"
                  >5 STEPS</span
                >
                <span
                  class="nav-drawer__link-line"
                  data-i18n="burgerMenu.nav.steps.line2"
                  >TO WALTER</span
                >
                <span
                  class="nav-drawer__link-line"
                  data-i18n="burgerMenu.nav.steps.line3"
                  >HOUSE</span
                >
              </span>
              <span class="nav-drawer__link-arrow" aria-hidden="true">
                <svg class="nav-drawer__link-arrow-icon">
                  <use href="./icons/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </a>
          </li>

          <li class="nav-drawer__item">
            <a class="nav-drawer__link" href="#services" data-menu-close>
              <span
                class="nav-drawer__link-text"
                data-i18n="burgerMenu.nav.services"
                >Additional services</span
              >
              <span class="nav-drawer__link-arrow" aria-hidden="true">
                <svg class="nav-drawer__link-arrow-icon">
                  <use href="./icons/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </a>
          </li>

          <li class="nav-drawer__item nav-drawer__item--blog">
            <a class="nav-drawer__link" href="#blog" data-menu-close>
              <span
                class="nav-drawer__link-text"
                data-i18n="burgerMenu.nav.blog"
                >Blog</span
              >
              <span class="nav-drawer__link-arrow" aria-hidden="true">
                <svg class="nav-drawer__link-arrow-icon">
                  <use href="./icons/sprite.svg#icon-arrow"></use>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </nav>

      <section class="nav-drawer__footer" aria-label="Contacts panel">
        <div class="nav-drawer__cta">
          <img
            class="nav-drawer__cta-logo"
            src="./assets/images/slides/logo.png"
            width="68"
            height="54"
            alt="Walter House"
            loading="eager"
          />

          <p class="nav-drawer__cta-text">
            <span data-i18n="burgerMenu.cta.text.line1"
              >Turnkey construction</span
            >
            <br />
            <span data-i18n="burgerMenu.cta.text.line2">of houses</span>
          </p>

          <a
            class="nav-drawer__cta-action"
            href="#project-form"
            aria-label="Discuss a project"
            data-i18n-aria-label="burgerMenu.cta.actionAria"
            data-menu-close
          >
            <svg
              class="nav-drawer__cta-icon"
              viewBox="0 0 248 21"
              preserveAspectRatio="none"
              aria-hidden="true"
            >
              <line x1="0" y1="10.5" x2="230" y2="10.5"></line>
              <polyline points="230,1 248,10.5 230,20"></polyline>
            </svg>
          </a>
        </div>

        <span class="nav-drawer__divider" aria-hidden="true"></span>

        <address class="nav-drawer__contacts">
          <ul class="nav-drawer__contacts-list">
            <li class="nav-drawer__contacts-item">
              <svg
                class="nav-drawer__contacts-icon"
                width="18"
                height="25"
                aria-hidden="true"
              >
                <use href="./icons/sprite.svg#icon-location"></use>
              </svg>

              <p
                class="nav-drawer__contacts-text"
                data-i18n="burgerMenu.contacts.address"
              >
                Kiev, st. Getman Street 101
              </p>
            </li>

            <li class="nav-drawer__contacts-item">
              <svg
                class="nav-drawer__contacts-icon"
                width="21"
                height="21"
                aria-hidden="true"
              >
                <use href="./icons/sprite.svg#icon-clock"></use>
              </svg>

              <p class="nav-drawer__contacts-text">
                <span data-i18n="burgerMenu.contacts.hours.line1"
                  >Mon-Fri: 9:00 - 19:00,</span
                ><br class="nav-drawer__contacts-br" />
                <span data-i18n="burgerMenu.contacts.hours.line2"
                  >Sat: 10:00 - 17:00</span
                >
              </p>
            </li>

            <li class="nav-drawer__contacts-item">
              <svg
                class="nav-drawer__contacts-icon"
                width="25"
                height="18"
                aria-hidden="true"
              >
                <use href="./icons/sprite.svg#icon-mail"></use>
              </svg>

              <a class="nav-drawer__contacts-link" href="mailto:info@dhs.com">
                info@dhs.com
              </a>
            </li>

            <li class="nav-drawer__contacts-item">
              <svg
                class="nav-drawer__contacts-icon"
                width="19"
                height="19"
                aria-hidden="true"
              >
                <use href="./icons/sprite.svg#icon-phone"></use>
              </svg>

              <a class="nav-drawer__contacts-link" href="tel:+380971234567">
                +38 (097) 123 45 67
              </a>
            </li>
          </ul>
        </address>
      </section>
    </div>
  </div>
</div>
