<div class="burger-menu" id="mobile-menu" aria-hidden="true" data-menu>
  <div class="burger-menu__backdrop" data-menu-close></div>

  <div
    class="burger-menu__body"
    role="dialog"
    aria-modal="true"
    aria-label="Site menu"
  >
    <nav class="burger-menu__nav" aria-label="Mobile navigation">
      <ul class="burger-menu__list">
        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#styles" data-menu-close>
            Styles of renovation
          </a>
        </li>

        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#costs" data-menu-close>Costs</a>
        </li>

        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#steps" data-menu-close>
            5 steps to Walter House
          </a>
        </li>

        <li class="burger-menu__item">
          <a class="burger-menu__link" href="#services" data-menu-close>
            Additional services
          </a>
        </li>
      </ul>
    </nav>

    <div class="burger-menu__panel" aria-label="Contacts panel">
      <div class="burger-menu__cta">
        <img
          class="burger-menu__cta-logo"
          src="./assets/images/slides/logo.png"
          width="68"
          height="54"
          alt="Walter House"
          loading="eager"
        />

        <p class="burger-menu__cta-text">Turnkey construction of houses</p>

        <a
          class="burger-menu__cta-action"
          href="#project-form"
          aria-label="Discuss a project"
          data-menu-close
        >
          <svg
            class="burger-menu__cta-icon"
            width="248"
            height="21"
            aria-hidden="true"
          >
            <use href="./icons/sprite.svg#icon-arrow"></use>
          </svg>
        </a>
      </div>

      <span class="burger-menu__divider" aria-hidden="true"></span>

      <address class="burger-menu__contacts">
        <ul class="burger-menu__contacts-list">
          <li class="burger-menu__contacts-item">
            <svg
              class="burger-menu__contacts-icon"
              width="30"
              height="30"
              aria-hidden="true"
            >
              <use href="./icons/sprite.svg#icon-location"></use>
            </svg>
            <p class="burger-menu__contacts-text">
              Kiev, st. Getman Street 101
            </p>
          </li>

          <li class="burger-menu__contacts-item">
            <svg
              class="burger-menu__contacts-icon"
              width="30"
              height="30"
              aria-hidden="true"
            >
              <use href="./icons/sprite.svg#icon-clock"></use>
            </svg>
            <p class="burger-menu__contacts-text">
              Mon-Fri: 9:00 - 19:00,<br />
              Sat: 10:00 - 17:00
            </p>
          </li>

          <li class="burger-menu__contacts-item">
            <svg
              class="burger-menu__contacts-icon"
              width="30"
              height="30"
              aria-hidden="true"
            >
              <use href="./icons/sprite.svg#icon-mail"></use>
            </svg>

            <a class="burger-menu__contacts-link" href="mailto:info@dhs.com">
              info@dhs.com
            </a>
          </li>

          <li class="burger-menu__contacts-item">
            <svg
              class="burger-menu__contacts-icon"
              width="30"
              height="30"
              aria-hidden="true"
            >
              <use href="./icons/sprite.svg#icon-phone"></use>
            </svg>

            <a class="burger-menu__contacts-link" href="tel:+380971234567">
              +38 (097) 123 45 67
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</div>
