<div
  class="hotspot-info-modal"
  data-hotspot-modal
  role="dialog"
  aria-modal="true"
  aria-label="Hotspot info"
  aria-hidden="true"
>
  <div class="hotspot-info-modal__dialog">
    <button
      class="hotspot-info-modal__close"
      type="button"
      aria-label="Close hotspot info"
      data-hotspot-modal-close
    >
      <svg
        class="hotspot-info-modal__close-icon"
        width="20"
        height="21"
        aria-hidden="true"
      >
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="hotspot-info-modal__content">
      <h2 class="hotspot-info-modal__title">VIP стиль</h2>
      <div class="hotspot-info-modal__line" aria-hidden="true"></div>
      <p class="hotspot-info-modal__text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
        ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Donec quam felis,
        ultricies nec, pellentesque eu.
      </p>
    </div>
  </div>
</div>
