<div class="gallery-modal is-open" data-gallery-modal aria-hidden="false">
  <div class="gallery-modal__overlay" data-gallery-close></div>
  <div
    class="gallery-modal__dialog"
    role="dialog"
    aria-modal="true"
    aria-label="Gallery"
  >
    <button
      class="gallery-modal__close"
      type="button"
      aria-label="Close"
      data-gallery-close
    >
      <svg
        class="gallery-modal__close-icon"
        width="22"
        height="22"
        aria-hidden="true"
      >
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="gallery-modal__stage">
      <div class="gallery-modal__hotspots">
        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--1"
          type="button"
          aria-label="Hotspot 1"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            aria-hidden="true"
          >
            <use href="/icons/sprite.svg#icon-hotspot"></use>
          </svg>
        </button>

        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--2"
          type="button"
          aria-label="Hotspot 2"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            aria-hidden="true"
          >
            <use href="/icons/sprite.svg#icon-hotspot"></use>
          </svg>
        </button>

        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--3"
          type="button"
          aria-label="Hotspot 3"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            aria-hidden="true"
          >
            <use href="/icons/sprite.svg#icon-hotspot"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="gallery-modal__controls">
      <button
        class="gallery-modal__nav"
        type="button"
        aria-label="Previous"
        data-gallery-prev
      >
        <svg
          class="gallery-modal__nav-icon"
          width="22"
          height="29"
          aria-hidden="true"
        >
          <use href="/icons/sprite.svg#icon-vector-left"></use>
        </svg>
      </button>

      <div class="gallery-modal__counter">
        <span
          class="gallery-modal__count gallery-modal__count--total"
          data-gallery-total
          >01</span
        >
        <span
          class="gallery-modal__count gallery-modal__count--current"
          data-gallery-current
          >02</span
        >
      </div>

      <button
        class="gallery-modal__nav"
        type="button"
        aria-label="Next"
        data-gallery-next
      >
        <svg
          class="gallery-modal__nav-icon"
          width="22"
          height="29"
          aria-hidden="true"
        >
          <use href="/icons/sprite.svg#icon-vector-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
