<div class="gallery-modal is-open" data-gallery-modal aria-hidden="false">
  <div class="gallery-modal__overlay" data-gallery-close></div>
  <div
    class="gallery-modal__dialog"
    role="dialog"
    aria-modal="true"
    aria-label="Gallery"
  >
    <button
      class="gallery-modal__close"
      type="button"
      aria-label="Close"
      data-gallery-close
    >
      <svg
        class="gallery-modal__close-icon"
        width="22"
        height="22"
        aria-hidden="true"
      >
        <use href="/icons/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="gallery-modal__stage">
      <div class="gallery-modal__hotspots">
        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--1"
          type="button"
          aria-label="Hotspot 1"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="currentColor"
            />
            <path
              d="M37.5 23C37.5 31.0081 31.0081 37.5 23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.5"
            />
            <path
              d="M45.5 23C45.5 35.4264 35.4264 45.5 23 45.5C10.5736 45.5 0.499998 35.4264 0.499999 23C0.500001 10.5736 10.5736 0.499999 23 0.499999C35.4264 0.5 45.5 10.5736 45.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.2"
            />
          </svg>
        </button>

        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--2"
          type="button"
          aria-label="Hotspot 2"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="currentColor"
            />
            <path
              d="M37.5 23C37.5 31.0081 31.0081 37.5 23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.5"
            />
            <path
              d="M45.5 23C45.5 35.4264 35.4264 45.5 23 45.5C10.5736 45.5 0.499998 35.4264 0.499999 23C0.500001 10.5736 10.5736 0.499999 23 0.499999C35.4264 0.5 45.5 10.5736 45.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.2"
            />
          </svg>
        </button>

        <button
          class="gallery-modal__hotspot gallery-modal__hotspot--3"
          type="button"
          aria-label="Hotspot 3"
        >
          <svg
            class="gallery-modal__hotspot-icon"
            width="46"
            height="46"
            viewBox="0 0 46 46"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <ellipse
              cx="23"
              cy="23"
              rx="7"
              ry="7"
              transform="rotate(90 23 23)"
              fill="currentColor"
            />
            <path
              d="M37.5 23C37.5 31.0081 31.0081 37.5 23 37.5C14.9919 37.5 8.5 31.0081 8.5 23C8.5 14.9919 14.9919 8.5 23 8.5C31.0081 8.5 37.5 14.9919 37.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.5"
            />
            <path
              d="M45.5 23C45.5 35.4264 35.4264 45.5 23 45.5C10.5736 45.5 0.499998 35.4264 0.499999 23C0.500001 10.5736 10.5736 0.499999 23 0.499999C35.4264 0.5 45.5 10.5736 45.5 23Z"
              stroke="currentColor"
              stroke-opacity="0.2"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="gallery-modal__controls">
      <button
        class="gallery-modal__nav"
        type="button"
        aria-label="Previous"
        data-gallery-prev
      >
        <svg
          class="gallery-modal__nav-icon"
          width="22"
          height="29"
          aria-hidden="true"
        >
          <use href="/icons/sprite.svg#icon-vector-left"></use>
        </svg>
      </button>

      <div class="gallery-modal__counter">
        <span
          class="gallery-modal__count gallery-modal__count--total"
          data-gallery-total
          >01</span
        >
        <span
          class="gallery-modal__count gallery-modal__count--current"
          data-gallery-current
          >02</span
        >
      </div>

      <button
        class="gallery-modal__nav"
        type="button"
        aria-label="Next"
        data-gallery-next
      >
        <svg
          class="gallery-modal__nav-icon"
          width="22"
          height="29"
          aria-hidden="true"
        >
          <use href="/icons/sprite.svg#icon-vector-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
