<!-- <nav class="pager" aria-label="Screens navigation" data-pager>
  <button
    class="pager__btn is-active"
    type="button"
    data-pager-btn="1"
    aria-label="Screen 1"
  ></button>
  <button
    class="pager__btn"
    type="button"
    data-pager-btn="2"
    aria-label="Screen 2"
  ></button>
  <button
    class="pager__btn"
    type="button"
    data-pager-btn="3"
    aria-label="Screen 3"
  ></button>
  <button
    class="pager__btn"
    type="button"
    data-pager-btn="4"
    aria-label="Screen 4"
  ></button>
  <button
    class="pager__btn"
    type="button"
    data-pager-btn="5"
    aria-label="Screen 5"
  ></button>
  <button
    class="pager__btn"
    type="button"
    data-pager-btn="6"
    aria-label="Screen 6"
  ></button>
</nav> -->
