<aside class="social" aria-label="Apartment renovation and social links">
  <span class="social__topline" aria-hidden="true"></span>

  <p class="social__title">
    <span class="social__title-word">APARTMENT</span>
    <span class="social__title-word">RENOVATION</span>
  </p>

  <span class="social__rail-line" aria-hidden="true"></span>
  <span class="social__rail-notch" aria-hidden="true"></span>

  <ul class="social__list" aria-label="Social media">
    <li class="social__item">
      <a class="social__link" href="#" aria-label="Facebook">
        <svg class="social__icon" width="20" height="20" aria-hidden="true">
          <use href="./icons/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>

    <li class="social__item">
      <a class="social__link" href="#" aria-label="Instagram">
        <svg class="social__icon" width="20" height="20" aria-hidden="true">
          <use href="./icons/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
    </li>

    <li class="social__item">
      <a class="social__link" href="#" aria-label="Telegram">
        <svg class="social__icon" width="20" height="20" aria-hidden="true">
          <use href="./icons/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>

    <li class="social__item">
      <a class="social__link" href="#" aria-label="YouTube">
        <svg class="social__icon" width="20" height="20" aria-hidden="true">
          <use href="./icons/sprite.svg#icon-youtube"></use>
        </svg>
      </a>
    </li>
  </ul>
</aside>
