@use "utils/variables" as *;
@use "utils/mixins" as *;

@use "base/reset";
@use "base/base";

@use "layout/app";
@use "layout/container";

@use "components/header";
@use "components/social";
@use "components/pager";
@use "components/form";
@use "components/burger-menu";
@use "components/modal";

@use "sections/home";
@use "sections/about";
@use "sections/packages";
@use "sections/calculator";
@use "sections/steps";
@use "sections/gallery";

@use "layout/screen-pager";
